* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: table;
}

.top-fixed {
    position: fixed;
    top: 0;
}

#uiTemplate {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.image {
    font-size: 0;
}

#main {
    margin: auto;
    text-align: center;
}

#headerBarSection select,
#headerBarSection input {
    height: 1.8em;
}

#headerBarSection {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

#infoWindow {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    text-align: center;
}

#bookInfo {
    font-style: italic;
}

#book-form {
    display: inline;   
}

#books, #chapters, #sites {
    max-width: 15em;
}

#hideInfo {
    margin-top: 0.3em;
}

#pageSelectorSection {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pages {
    max-width: 3em;
    text-align: center;
}

#prev-top, #next-top {
    width: 10%;
    font-weight: bold;
}

.page-form {
    display: inline;  
}

#fautes {
    text-align: center;
    margin-top: 0.2em;
    font-weight: bold;
    font-size: larger;
}

#hammer {
    margin: auto;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.borders {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

@media all and (display-mode: standalone) {
    #newTabButton {
        display: none;
    }
    #installButton {
        display: none;
    }
}

#page {
    max-width: 100%;
    min-width: 10%;
    font-size: medium;
}

#page-paire, #page-impaire {
    max-width: 49%;
    min-width: 5%;
    font-size: medium;
    vertical-align: top;
}

.hover-cursor:hover {
    cursor: pointer;
}

#footerSection {
    text-align: center;
    margin: auto;
}

#prev-bottom, #next-bottom {
    width: 30%;
    font-weight: bold;
}

@media screen and (max-width: 35em) {
    .small-hide {
      display: none;
    }

    #books, #chapters, #sites {
        max-width: 8em;
    }
}

.darkmode-toggle {
    z-index: 10 !important;
}


.slidecontainer {
    margin-top: 0.2em;
    text-align: right;
    display: flex;
}
  
.slider {
    -webkit-appearance: none;
    height: 1.5em;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 0.5em;
}

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.3em;
    height: 1.3em;
    background: black;
    cursor: pointer;
}

#navContainer {
    background-color: lightgrey;
    position: sticky;
    bottom: 0em;
}

#stickyToggleNavBarContainer {
    text-align: right;
}

#toggleNavBar {
    min-width: 4em;
}

#stickyToggleNavBar {
    min-width: 4em;
}

#digitizedDivCenter {
    margin:auto;
    text-align: center;
    font-size: small;
}

#digitizedDivRight {
    margin:auto;
    text-align: right;
    font-size: small;
    display: flex;
    flex-direction: row;
}

#digitizedSpanRight {
    flex-grow: 1;
    text-align: center;
}

.darkmode--activated #navContainer,
.darkmode--activated #navContainer button,
.darkmode--activated #navContainer select,
.darkmode--activated #navContainer input{
    background-color: black;
    color: white;
}

.darkmode--activated #navContainer .slidecontainer input{
    background-color: grey;
    color: white;
}

.darkmode--activated  img {
    filter: invert(100%);
}

*[tooltip]:focus:after {
    content: attr(tooltip);
    display:block;
    position: absolute;
    background-color: lightgreen;
    box-shadow: 0.2em 0.2em 0.05em grey;
    padding: 0.2em;
    border-radius: 0.5em;
}

.darkmode--activated [tooltip]:focus:after {
    background-color: green;
    box-shadow: none;
}