
<div class="darkmode-background" v-bind:style="`filter: ${darkmode ? 'invert(100%)' : ''} brightness(${brightness}%)`"></div>

<div id="uiTemplate" v-bind:style="`filter: ${darkmode ? 'invert(100%)' : ''} brightness(${brightness}%)`">

    <div id="headerBarSection">
        <select name="sites" id="sites"
            title="Changer de site (s)"
            v-on:change="changeSite($event.target.selectedOptions[0].value)"
            v-bind:value="canonical"
        >
            <option
                v-for="site in sites"
                :key="site.url"
                v-bind:value="site.url"
                v-bind:selected="canonical === site.url"
            >
                {{ site.title }}
            </option>
        </select>
        
        <div id="book-form">
            <label for="books">
                {{ bookSelectorLabel }}
            </label><select name="books" id="books"
                title="Change de livre (l)"
                v-on:change="changeBook({ key: $event.target.selectedOptions[0].value })"
            >
                <option
                    v-for="book in books"
                    :key="book.key"
                    v-bind:value="book.key"
                    v-bind:selected="currentBook === book.key"
                >
                    {{ book.label }}
                </option>
            </select>
            
            <label for="chapters">
                {{ chapterSelectorLabel }}
            </label><select name="chapters" id="chapters"
                title="Change de chapitre (c)"
                v-bind:value="currentChapter ? currentChapter.title : null"
                v-on:change="changeChapter($event.target.selectedOptions[0].value)"
            >
                <option
                    v-for="chapter in chapters"
                    :key="chapter.key"
                    v-bind:value="chapter.title"
                    v-bind:selected="currentChapter && chapter.title === currentChapter.title"
                >
                    {{ chapter.roman }}
                </option>
            </select>
        </div>
    </div>

    <div id="pageSelectorSection">
        <button id="prev-top" title="Page précédente (←|r)" v-on:click="decrementPage">&larr;</button>
        &nbsp;
        <span class="small-hide">
            <button title="Rétrécir l’image (-)" v-on:click="decrZoom"><b>−</b></button>
            <button title="Agrandir l’image (+)" v-on:click="incrZoom"><b>+</b></button>
            &nbsp;
        </span>
        <button id="toggleViewButton" title="Changer la vue (v)" v-on:click="toggleDisplayMode">
            {{ displayMode === 'onePage' ? '📖' : '📃' }}
        </button>
        &nbsp;
        <div id="page-form">
            <label for="pages" title="Page">p.</label>
            <input type="number" id="pages" name="pages" title="Page (p)" v-bind:value="currentPage" v-on:change="changePage(parseInt($event.target.value))" />
        </div>
        &nbsp;
        <button onclick="window.open(window.location, '_blank').focus()" title="Ouvrir un nouvel onglet (o|t)">📑</button>
        &nbsp;
        <button id="displayInfo" v-on:click="toggleInfo" title="Informations (i)"><span id="infoIcon">ℹ</span><span class="small-hide">&nbsp;info</span></button>
        &nbsp;
        <button id="next-top" title="Page suivante (→|a)" v-on:click="incrementPage">&rarr;</button>
    </div>

    <div id="infoWindow" v-if="showInfo">
        <hr />
        Page courante tirée de : <span id="bookInfo">{{ bookInfo }}</span>, <span id="editionInfo">{{ editionInfo }}</span>
        <a id="pdfLink" target="_blank" v-bind:href="pdfLink">(pdf original)</a>
        <br />
        <br />
        <span v-for="link in links" :key="link.url">
        &ThickSpace;<a v-bind:href="link.url" target="_blank">{{ link.title }}</a>&ThickSpace;
        </span>
        <br />
        <br />
        <i>Raccourcis clavier :</i>
        <br />
        <span v-for="shortcut in shortcuts" :key="shortcut.key">
            &ThickSpace;<b>({{ shortcut.key }})&nbsp;:</b>&nbsp;{{ shortcut.str }}&ThickSpace;
        </span>
        <br />
        <button id="hideInfo" v-on:click="toggleInfo" title="Cacher ces informations (i)"><small>❌&nbsp;cacher ces informations</small></button>
        <hr />
    </div>

    <div id="fautes" v-if="errata && errata.length > 0">
        <a href=""
            v-for="erratum in errata"
            :key="erratum.href"
            v-bind:href="erratum.href"
        >
            Erratum : voir <i>{{ erratum.book }}</i> p. {{ erratum.page }}
        </a>
    </div>

    <div id="hammer">
        <div v-if="displayMode === 'onePage'" class="image">
            <img id="page" class="hover-cursor borders" v-on:click="incrOrDecrFromPage($event)" v-bind:src="currentPageImgSrc" v-bind:style="pageStyle" />
        </div>

        <div v-if="displayMode === 'twoPages'" class="image">
            <img id="page-paire" class="hover-cursor borders" v-on:click="decrementPage" v-bind:src="currentPageImgPaireSrc" v-bind:style="pageStyle"  />
            <img id="page-impaire" class="hover-cursor borders" v-on:click="incrementPage" v-bind:src="currentPageImgImpaireSrc" v-bind:style="pageStyle"  />
        </div>
    </div>

    <div style="display: none">{{ title }} : {{ locationHash }}</div>

    <div id="footerSection">
        <button id="prev-bottom" title="Page précédente (←|r)" v-on:click="decrementPage">&larr;</button>
        &nbsp;&nbsp;
        <button id="next-bottom" title="Page suivante (→|a)" v-on:click="incrementPage">&rarr;</button>
    </div>

</div>

<div v-bind:class="'darkmode-range' + (darkmode ? ' darkmode-toggle--white' : '' )" id="brightnessRangeDiv">
<input id="brightnessRange" type="range" v-bind:value="brightness" min="50" max="150"
    v-on:click="changeBrightness(parseInt($event.target.value))"
/>
</div>
<div v-bind:class="'darkmode-toggle' + (darkmode ? ' darkmode-toggle--white' : '' )" v-on:click="toggleDarkmode">🌓</div>
